* {
    box-sizing: border-box;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #47a3da;
}
header {
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    font-size: 1.6rem;
}
    header h2 {
        font-size: 1rem;
        margin: 0 0 -1rem 0;
        padding: 0;
    }
    header a > svg {
        width: 32px;
        height: 32px;
        color: #47a3da;
    }
    header .social {
        float: right;
    }
#tags {
    border: 1px solid red;
    padding: 10px 100px 10px 100px;
}
    #tags .tag-list ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #tags .tag-list ul li {
        float: left;
        margin-right: 10px;
    }
    #tags .tag-list ul li svg {
        width: 20px;
        height: 20px;
        float: left;
    }
    #tags .tag-list ul li a {
        margin-left: 5px;
    }
    #tags .tag-articles {
        margin: 5px;
        margin-bottom: 10px;
    }
a {
    text-decoration: none;
    color: #47a3da;
}
.social-media-list {
    float: right;
    margin: 60px 100px;
}
    .social-media-list li {
        margin-bottom: 5px;
    }
.list {
    width: 100%;
    margin: 0 auto;
}
.list article {
    cursor: pointer;
}
article {
    padding: 40px 100px 60px 100px;
    font-size: 1.5rem;
    line-height: 1.5;
}
article h1 a {
    text-decoration: none;
}
article.alt {
    background-color: #A1CCE6;
    color: #FFF;
}
    article.alt a {
        color: #FFF;
    }
    article .date {
        float: right;
        margin-top: -2rem;
        font-size: 0.9rem;
    }
    article a {
        text-decoration: underline;
    }
    article p {
        margin-bottom: 1rem;
    }
footer {
    width: 100%;
    padding: 40px 100px;
    margin: 0 auto;
}
footer p {
    float: left;
}
footer p.right {
    float: right;
}
footer p svg {
    width: 14px;
    height: 14px;
}

/** Syntax highlighting **/
pre {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    padding-left: 1rem;
    background-color: #EEE;
    font-family: monospace;
    font-size: 1rem;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.highlighttable {
    width: 100%;
}
    .linenos {
        width: 2rem;
    }
    .linenos pre {
        padding: 1rem;
        background-color: #DDD;
        color: #999;
    }
ul {
    list-style: disc;
    padding-left: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem
}
