* {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #47a3da;
}
header {
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    font-size: 1.6rem;
}
    header h2 {
        font-size: 1rem;
        margin: 0 0 -1rem 0;
        padding: 0;
    }
    header a > svg {
        width: 32px;
        height: 32px;
        color: #47a3da;
    }
    header .social {
        float: right;
    }
a {
    text-decoration: none;
    color: #47a3da;
}
.social-media-list {
    float: right;
    margin: 60px 100px;
}
    .social-media-list li {
        margin-bottom: 5px;
    }
.list {
    width: 100%;
    margin: 0 auto;
}
article {
    padding: 40px 100px 60px 100px;
    font-size: 1.5rem;
    line-height: 1.5;
}
article.alt {
    background-color: #A1CCE6;
    color: #FFF;
}
    article.alt a {
        color: #FFF;
    }
    article .date {
        float: right;
        margin-top: -2rem;
        font-size: 0.9rem;
    }
footer {
    width: 100%;
    padding: 40px 100px;
    margin: 0 auto;
}
footer p {
    float: left;
}
footer p.right {
    float: right;
}

/** Syntax highlighting **/
pre {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    padding-left: 1rem;
    background-color: #EEE;
    font-family: monospace;
    font-size: 1rem;
}
.highlighttable {
    width: 100%;
}
    .linenos {
        width: 2rem;
    }
    .linenos pre {
        padding: 1rem;
        background-color: #DDD;
        color: #999;
    }
