* {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: #47a3da;
}
header {
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    font-size: 1.8em;
}
header a > svg {
    width: 32px;
    height: 32px;
    color: #47a3da;
}
header .social {
    float: right;
}
a {
    text-decoration: none;
    color: #47a3da;
}
.social-media-list {
    float: right;
    margin: 60px 100px;
}
    .social-media-list li {
        margin-bottom: 5px;
    }
.list {
    width: 100%;
    margin: 0 auto;
}
article {
    padding: 40px 100px 60px 100px;
    font-size: 1.5em;
    line-height: 1.5;
}
article.alt {
    background-color: #A1CCE6;
    color: #FFF;
}
    article.alt a {
        color: #FFF;
    }
    article .date {
        float: right;
        margin-top: -2em;
        font-size: 0.75em;
    }
footer {
    width: 100%;
    padding: 40px 100px;
    margin: 0 auto;
}
footer p {
    float: left;
}
footer p.right {
    float: right;
}
pre {
    padding: 20px;
}
