[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/ronanchilvers/hyde.git
[submodule "themes/lanyon"]
	path = themes/lanyon
	url = https://github.com/ronanchilvers/hugo-theme-lanyon.git
