[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/ronanchilvers/hyde.git
[submodule "themes/lanyon"]
	path = themes/lanyon
	url = https://github.com/ronanchilvers/hugo-theme-lanyon.git
[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions.git
[submodule "themes/xmin"]
	path = themes/xmin
	url = https://github.com/yihui/hugo-xmin.git
