---
layout: index
---

<div class="list">
{% if site.posts.size > 0 %}
{% for post in site.posts %}
    <article{% cycle '', ' class="alt"' %} data-href="{{ post.url | prepend: site.baseurl }}">
        <hgroup>
            <h1>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
            <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
        </hgroup>
{% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first | strip_html }}
{% else %}
    <p>{{ post.excerpt | strip_html}}</p>
{% endif %}
    </article>
{% endfor %}
{% else %}
    <article><p>Soz! No posts yet</p></article>
{% endif %}
</div>
