---
layout: index
---

<div class="list">
{% if site.posts.size > 0 %}
{% for post in site.posts %}
    <article{% cycle '', ' class="alt"' %}>
        <hgroup>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
        </hgroup>
{% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first }}
{% else %}
    <p>{{ post.excerpt }}</p>
{% endif %}
    </article>
{% endfor %}
{% else %}
    <article><p>Soz! No posts yet</p></article>
{% endif %}
</div>
