{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{- $dateHuman := .Date | time.Format ":date_long" }}
<header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <nav class="post-meta" aria-labelledby="article-tags-navigation">
        <div class="post-timestamp"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></div>
        <div class="post-tags">{{ partial "components/post-tags.html" (dict "taxonomy" "tags" "page" .) }}</div>
    </nav>
</header>
