{{- $post := . }}
{{- $category := index ($post.GetTerms "categories") 0 }}
{{- $categorySlug := ($category.Name | urlize) }}
{{- $thumbnail := cond ($post.Params.images.thumbnail) $post.Params.images.thumbnail (printf "%s-thumbnail.png" (cond ($post.Slug) $post.Slug ($post.Title | urlize) )) }}
{{- $names := slice $thumbnail "thumbnail.png" }}
{{- $imagePath := false }}
{{- range $names }}
    {{- $testPath := (printf "/images/%s/%s" $categorySlug . ) }}
    {{- if fileExists (printf "static/%s" $testPath ) }}
        {{- $imagePath = $testPath }}
        {{- break }}
    {{- end }}
{{- end }}
{{- $dateMachine := $post.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{- $dateHuman := $post.Date | time.Format ":date_long" }}
<div class="card">
{{- if $imagePath }}
    <figure class="card-image">
        <a class="card-title" href="{{ $post.RelPermalink }}">{{ .Title }}</a>
        <a href="{{ $post.RelPermalink }}"><img src="{{ $imagePath }}" alt="{{ $post.Title }}"></a>
    </figure>
{{- end }}
    <div class="card-content">
        <div class="card-body">
            {{- if gt ($post.Summary | len) 0 -}}
                <p>{{ $post.Summary | truncate 100 }}</p>
            {{- end -}}
        </div>
        <div class="card-meta">
            <a href="{{ $category.Path }}" class="card-meta-item">{{ $category.Name }}</a>
            <time class="card-meta-item" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            {{- with .GetTerms "tags" }}
            <div class="card-meta-item">
            {{- range . }}<a href="{{ $post.RelPermalink }}" class="tag tag--bare">{{ .LinkTitle | lower }}</a>{{- end }}
            </div>
            {{- end }}
        </div>
    </div>
</div>
