:root {
    --card-background-color: rgb(54, 59, 66);
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    .card {
        /*outline: 1px dotted red;*/

        margin: 0 0.5rem 1rem 0.5rem;
        width: calc(33.33% - 1rem);
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        box-shadow: 0 0 10px rgba(0,0,0,1);
        background-color: var(--card-background-color);
        border-radius: var(--border-radius);
        overflow: hidden;

        .card-image,
        .card-content {
            flex: 1 1;
        }
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-title,
        .card-body,
        .card-meta {
            padding: 0.5rem 1rem;
        }
        .card-image {
            border-radius: 0;
            border: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 200px;
            max-height: 200px;
            img {
                width: 100%;
            }
        }
        .card-title {
            display: block;
        }
        .card-meta {
            /*outline: 1px solid green;*/
            font-size: 0.9rem;
            .card-meta-item {

            }
        }
    }
}
@media screen and (max-width: 900px) {
    .cards {
        .card {
            width: calc(50% - 1rem);
        }
    }
}
@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        .card {
            width: 100%;
        }
    }
}
