.categories {
    display: flex;
    flex-direction: row;
    .category {
        display: inline;
        margin: 0 1rem 1rem 0;
        /*outline: 1px solid red;*/
        .category-title {
            text-align: center;
        }
    }
}
