.categories {
    /*display: flex;*/
    /*flex-direction: row;*/
    .category {
        /*border-top-left-radius: var(--border-radius);*/
        /*border-top-right-radius: var(--border-radius);*/
        padding: 1rem 1.5rem;
        margin: 0 1rem 1rem 0;
        .category-title {
            text-align: center;
        }
    }
}
