:root {
    --background-color: rgb(34, 39, 46);
    --border-color: rgb(100,100,100);
    --border-radius: 5px;
    --font-color: rgb(220,220,220);
    --font-muted-color: rgb(175,175,175);
    --menu-background-color: rgb(110,110,110);
    --menu-background-hover-color: rgb(130,130,130);
    --link-color: inherit;
    --link-hover-color: rgb(255,255,255);
    --nav-border-color: rgb(75,75,75);
    --article-header-color: rgb(215,215,215);
    --alert-background-color: rgba(54, 59, 66, 0.65);
    --alert-heading-background-color: rgba(54, 59, 66, 1);
    --tag-background-color: rgba(54, 59, 66, 0.65);
    --tag-count-color: rgb(54, 59, 66);
    --tag-background-hover-color: rgb(130,130,130);
    --category-background-color: rgb(44, 49, 56);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
body {
    font-family: "Goudy Bookletter 1911", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.2rem;
    color: var(--font-color);
    background-color: var(--background-color);
    max-width: 1024px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0 1rem;
}

body > header {
    display: flex;
    justify-content: space-between;
    .site-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        figure {
            margin: 0 1rem 0 0;
        }
    }
    h1 {
        font-size: 1.3rem;
        padding: 0.25rem 0rem;
        margin: 0;
    }
    nav {
        display: flex;
        justify-content: left;
        align-items: center;
        a {
            padding: 0.25rem 0.5rem;
            margin: 0 0.15rem;
        }
    }
}
@media (max-width: 600px) {
    body > header {
        justify-content: center;
        flex-direction: column;
        .site-title {
            justify-content: center;
            margin-bottom: 1rem;
        }
        nav {
            justify-content: center;
        }
    }
}

body > header {
    padding: 2rem 0 2rem 0;
}
body > footer {
    text-align: center;
    padding: 3rem;
}

main header,
section header,
article header {
    margin-bottom: 2rem;
    text-align: center;
}

section {
    margin: 0;
    margin-bottom: 3rem;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h1, h2, h3, h4 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

blockquote {
    background-color: var(--alert-background-color);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 2rem 1rem 0.5rem;

    &.alert {
        margin: 0 0 1rem 0;
        padding: 0;
    }

    h4 {
        list-style: none;
        margin: 0;
        padding: 1rem 1.5rem;
        background-color: var(--alert-heading-background-color);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    div {
        padding: 1.5rem;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

p {
    margin: 0 0 1rem 0;
}

a, a:visited {
    color: var(--link-color);
    transition: color 0.25s ease;
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
}

main {
    a {
        text-decoration: underline;
    }
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2rem 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
figure.figure-round {
    border-radius: 50%;
}

.home {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    figure {
        height: 250px;
        width: 250px;
    }
}
.recent-posts {
    h2 {
        text-align: center;
    }
}
