:root {
    --next-previous-background-color: rgba(54, 59, 66, 0.3);
}
.np {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--next-previous-background-color);
    display: flex;
    flex-direction: row;

    .np__button {
        width: 50%;
        &.np__button--next {
            text-align: right;
        }
    }
}
