.posts-list {
    list-style: none;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;

}
.posts-list-item {
    margin: 1rem 0 0 0;
    a {
        display: block;
    }
    time {
        font-size: 0.9rem;
        color: var(--font-muted-color);
        /*width: 30%;*/
    }
}
