.sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 30%;
    font-size: 1rem;

    /* border: 1px solid red; */

    .sidebar_panel {
        margin: 1rem;
        margin-top: 0;
    }
}
@media screen and (max-width: 1056px) {
    .sidebar {
        margin-top: 1rem;
        max-width: 100%;
    }
}
