.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    .tags_item {
        margin-bottom: 1rem;
    }
}

.tag {
    padding: 0.15rem 0.75rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    text-decoration: none;
    background-color: var(--tag-background-color);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: var(--tag-background-hover-color);
    }
}
