.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .tag-count {
        margin-left: 1rem;
        color: var(--font-muted-color);
    }
}
.tags-flex {
    display: flex;
    justify-content: left;

}

.tag {
    padding: 0.25rem 0.75rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--tag-background-color);
    display: flex;
    justify-content: space-between;
    &.tag--bare {
        padding: 0;
        background-color: transparent;
        display: inline;
    }
}

@media (max-width: 600px) {
    .tags {
        flex-direction: column;
        .tag {
        }
    }
}
