.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .tag {
        margin: 0.5rem;
        .tag-count {
            margin-left: 1rem;
            color: var(--font-muted-color);
        }
    }
}
.tags-flex {
    display: flex;
    justify-content: left;

}

.tag {
    padding: 0.25rem 0.75rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--tag-background-color);
    display: flex;
    justify-content: space-between;
    &.tag--bare {
        padding: 0;
        margin: 0;
        /*margin-right: 0.5rem;*/
        background-color: transparent;
        display: inline;
        &:after {
            content: ", ";
        }
        &:last-child:after {
            content: "";
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 600px) {
    .tags {
        flex-direction: column;
        .tag {
        }
    }
}
