.tags {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tags-flex {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.tag {
    padding: 0.25rem 0.75rem;
    margin: 0 0.25rem;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--tag-background-color);
}
.sidebar .tag {
    padding: 0.25rem 0.5rem;
}
