{{ define "main" }}
{{ partial "components/title.html" . }}
<section>
    {{ .Content }}
    {{- range (where .Site.RegularPages "Type" "posts").GroupByDate "January 2006" }}
    <section>
        <h2>{{ .Key }}</h2>
        <ul class="posts-list">
        {{- range .Pages }}
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{- $dateHuman := .Date | time.Format ":date_long" }}
            <li class="posts-list-item">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <!--<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>-->
            </li>
        {{- end }}
        </ul>
    </section>
    {{- end }}
</section>
{{ end }}
