{{ define "main" }}
<section class="home">
    <figure class="figure-round">
        <img src="/images/home-300x300.png" alt="By Lantern Light" />
    </figure>
    <div>
        {{ .Content }}
    </div>
</section>

{{- $posts := sort (where .Site.RegularPages "Type" "posts") "Date" "desc" }}
{{- $featuredPosts := first 3 (where $posts "Params.featured" true) }}
{{- if $featuredPosts }}
<section class="featured-posts">
    <h2>Featured Posts</h2>
    <div class="cards">
{{ range $featuredPosts }}
    {{ partial "components/post-card.html" ( dict
        "post" .
        "features" ( dict
            "highPriority" true
        )
    ) }}
{{- end }}
    </div>
</section>
{{- end }}
<section class="recent-posts">
    <h2>Recent Posts</h2>
    <div class="cards">
{{ range first 6 $posts }}
    {{ partial "components/post-card.html" ( dict
        "post" .
        "features" ( dict
            "smallCards" true
        )
    ) }}
{{- end }}
    </div>
</section>
{{ end }}
